<div class="col-sm-12 col-md-3 my-3">
    <div class="card card_recipe">
        {% if recipe.image %}
        <img src="{{ recipe.image }}" alt="Recipe Image" class="img-fluid" lazyload="on">
        {% else %}
        <img src="{{ url_for('static', filename='img/recipe-placeholder.jpg') }}" class="img-fluid" alt="Recipe" lazyload="on">
        {% endif %}
        <div class="card-img-overlay">
            <h6 class="card_title">{{ recipe.recipe_name }}</h6>   
        </div>
           <a href="{{ url_for('recipes.recipe', recipe_id=recipe._id) }}"></a>
    </div>
</div>