@import url('https://fonts.googleapis.com/css?family=PT+Sans|Playfair+Display&display=swap');

/*CSS Variables*/

:root {
  --primarycolor: #7768ae;
  --secondarycolor: #3bb273;
  --lightcolor: #e1bc29;
  --backgroundcolor: rgb(244, 222, 203);
  --primaryfont: 'PT Sans', sans-serif;
  --secondaryfont: 'Playfair Display', serif;
}