{% extends 'layout.html' %} {% block content %}
<main class="recipe-form">
    <a href="{{ url_for('users.account', username=session.username) }}" class="close close-icon" aria-label="Close"><span aria-hidden="true">&times;</span></a>
    <div class="container u-padding-top-lg">
        <h1 class="heading-secondary text-center text-white">New Recipe</h1>
        <form action="{{ url_for('recipes.add_recipe') }}" method="POST">
            {{ form.hidden_tag() }}
            <div class="row">
                <!-- recipe name -->
                <div class="col-12">
                    <div class="form-group">
                        <label for="recipe_name">
                            Recipe Name
                        </label>
                        {{ form.recipe_name(class="form-control form-input", id="recipe_name", autocomplete="off", pattern="^[\w '.-]{5,50}$", placeholder="Coconut Macaroons") }}
                    </div>
                </div>
                <!-- recipe description -->
                <div class="col-12">
                    <div class="form-group">
                        <label for="description">
                            Recipe Description
                        </label>
                        {{ form.description(class="form-control form-input", id="description", autocomplete="off", pattern="^[\w '.-]{5,50}$", placeholder="These coconut macaroons are gluten-free and very tasty. They're easy to make so great to do with kids.") }}
                    </div>
                </div>
                <!-- meal type -->
                <div class="col-md-6 col-12">
                    <div class="form-group">
                        <label for="meal_type">
                            Meal Type (select one )
                        </label>
                        {{ form.meal_type(class="form-control form-input custom-select", id="meal_type") }}
                    </div>
                </div>
                <!-- diet type -->
                <div class="col-md-6 col-12">
                    <div class="form-group">
                        <label for="diet_type">
                            Diet Type (optional)
                        </label>
                        {{ form.diet_type(class="form-control form-input custom-select", id="diet_type", placeholder="Diet Type") }}
                    </div>
                </div>
                <!-- ingredient -->
                <div class="col-12">
                    <div class="form-group">
                        <label for="ingredient_name">
                            Ingredients
                        </label>
                        {{ form.ingredient_name(class="form-control form-input ", id="ingredient_name", autocomplete="off", pattern="^[\w '.-]{5,50}$", placeholder="Please add each ingredient on a new line") }}
                    </div>
                </div>
                <!-- prep time in minutes -->
                <div class="col-md-3 col-12">
                        <div class="form-group">
                            <label for="prep_time">
                                Prep Time
                            </label>
                            {{ form.prep_time(class="form-control form-input ", id="prep_time", autocomplete="off", type="number", placeholder="In mins") }}
                        </div>
                    </div>
                <!-- cooking time in minutes -->
                <div class="col-md-3 col-12">
                    <div class="form-group">
                        <label for="time">
                            Cooking Time
                        </label>
                        {{ form.time(class="form-control form-input ", id="time", autocomplete="off", type="number", placeholder="In mins") }}
                    </div>
                </div>
                <!-- recipe image -->
                <div class="col-md-6 col-12">
                    <div class="form-group">
                        <label for="image">
                            Recipe Image (optional)
                        </label>
                        {{ form.image(class="form-control form-input", id="image", autocomplete="off", placeholder="Insert URL to image") }}
                    </div>
                </div>
                <!-- recipe directions -->
                <div class="col-12">
                    <div class="form-group">
                        <label for="directions">
                            Recipe Directions
                        </label>
                        {{ form.directions(class="form-control form-input u-margin-bottom-medium ", id="directions", autocomplete="off", pattern="^[\w '.-]{5,50}$", placeholder="Please add each direction on a new line.") }}
                    </div>
                </div>
                <!-- submit button -->
                <div class="form-group m-auto">
                    {{ form.submit(class="btn btn-white u-margin-bottom-medium u-padding-top") }}
                </div>
            </div>
        </form>
    </div>
</main>

{% endblock %}