{% extends 'layout.html' %} {% block body %}
<section id="password_form">
    <div class="form-container">
        <div class="form-inner">
            <h1 class="heading-primary">Change Password</h1>
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                <div class="form-input">
                    {% if form.current_password.errors %} {{ form.current_password(class="form-control form-input is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.current_password.errors %}
                        <span>{{ error }}</span> {% endfor %}
                    </div>
                    {% else %} {{ form.current_password(required=true, class="form-input-field", placeholder="Enter current password") }} {% endif %}
                </div>
                <div class="form-input">
                    {% if form.new_password.errors %} {{ form.new_password(class="form-control form-input is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.new_password.errors %}
                        <span>{{ error }}</span> {% endfor %}
                    </div>
                    {% else %} {{ form.new_password(required=true, class="form-input-field", placeholder="Enter new password") }} {% endif %}
                </div>
                <!--Confirm Password-->
                <div class="form-input">
                    {% if form.confirm_password.errors %} {{ form.confirm_password(class="form-control form-input is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.confirm_password.errors %}
                        <span>{{ error }}</span> {% endfor %}
                    </div>
                    {% else %} {{ form.confirm_password(required=true, class="form-input-field", placeholder="Confirm new password") }} {% endif %}
                </div>

                <div class="form-group">
                    {{ form.submit(class="btn btn-purple mt-3") }}
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}