{% extends 'layout.html' %} {% block content %}
<main class="section-reglog">
    <a href="{{ url_for('users.account', username=session.username) }}" class="close close-icon" aria-label="Close"><span aria-hidden="true">&times;</span></a>
    <div class="reglog">
        <div class="reglog__form">
            <h1 class="heading-primary">Change Password</h1>
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
                <p class="flash-message" role="alert">
                    {{ message }}
                </p>
                {% endfor %} {% endif %} {% endwith %}
                    <div class="form__group">
                        {% if form.current_password.errors %} {{ form.current_password(class="form-control form__input is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.current_password.errors %}
                            <span>{{ error }}</span> {% endfor %}
                        </div>
                        {% else %} {{ form.current_password(required=true, class="form__input", placeholder="Enter current password") }} {% endif %}
                    </div>
                    <div class="form__group">
                        {% if form.new_password.errors %} {{ form.new_password(class="form-control form__input is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.new_password.errors %}
                            <span>{{ error }}</span> {% endfor %}
                        </div>
                        {% else %} {{ form.new_password(required=true, class="form__input", placeholder="Enter new password") }} {% endif %}
                    </div>
                    <!--Confirm Password-->
                    <div class="form__group">
                        {% if form.confirm_password.errors %} {{ form.confirm_password(class="form-control form__input is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.confirm_password.errors %}
                            <span>{{ error }}</span> {% endfor %}
                        </div>
                        {% else %} {{ form.confirm_password(required=true, class="form__input", placeholder="Confirm new password") }} {% endif %}
                    </div>

                    <div class="form__group">
                        {{ form.submit(class="btn btn-purple mt-3") }}
                    </div>
            </form>
        </div>
    </div>
</main>

{% endblock %}