{% extends 'layout.html' %}
{% block nav %} {% include 'includes/_navbar.html' %} {% endblock %}
{% block content %}
<header class="header">
    <!--Header Background Video-->
    <div class="bg-video">
        <video class="bg-video__content" autoplay muted loop>
            <source src="{{ url_for('static', filename='videos/home.mp4') }}" type="video/mp4"> 
            <source src="{{ url_for('static', filename='videos/home.webm') }}" type="video/webm">  
        </video>
    </div>
    <!--Header Text & Button-->
    <div class="text-box">
        <h1 class="heading-primary">
            <span class="heading-primary-main">Whisk</span>
            <span class="heading-primary-sub">Start cooking now</span>
        </h1>
        <a href="{{ url_for('recipes.all_recipes')}}" class="btn btn-white">Browse Our Recipes</a>
    </div>	
</header>

<section class="container-fluid pt-5">
    <div class="u-center-text u-margin-bottom-medium u-padding-top">
        <h2 class="heading-secondary">Discover Our Recipes</h2>
    </div>
    <!--Random recipe cards-->
    <div class="row u-margin-bottom-large">
        {% for recipe in random_recipes %}
            {% include "includes/_cards.html" %}
        {% endfor %}
    </div>
    <!--Link to recipes page-->
    <div class="recipe-btn u-margin-bottom-medium u-padding-top text-center">
        <a href="{{ url_for('recipes.all_recipes')}}" class="btn btn-primary">All Our Recipes Here</a>
    </div>   
</section>

{% endblock %}

{% block footer %} {% include 'includes/_footer.html' %} {% endblock %}
