{% extends 'layout.html' %}
{% block nav %} {% include 'includes/_navbar.html' %} {% endblock %}
{% block content %}
<header class="header">
    <!--Header Background Video-->
    <div class="bg-video">
        <video class="bg-video__content" autoplay muted loop>
            <source src="{{ url_for('static', filename='videos/home.mp4') }}" type="video/mp4"> 
            <source src="{{ url_for('static', filename='videos/home.webm') }}" type="video/webm">  
        </video>
    </div>
    <!--Header Text & Button-->
    <div class="text-box">
        <h1 class="heading-primary">
            <span class="heading-primary-main">Whisk</span>
            <span class="heading-primary-sub">Start cooking now</span>
        </h1>
        <a href="{{ url_for('recipes.all_recipes')}}" class="btn btn-white">Browse Our Recipes</a>
    </div>	
</header>

<section class="container-fluid pt-5">
    <div class="u-center-text u-margin-bottom-large u-padding-top">
        <h2 class="heading-secondary">Our Latest Recipes</h2>
    </div>
    <div class="row u-margin-bottom-large">
        {% for recipe in recipes %}
            {% include "includes/_cards.html" %}
        {% endfor %}
    </div>
</section>

<nav aria-label="pagination">
    <ul class="pagination pagination-lg justify-content-center">
        {% for page in pages %} {% if page== current_page %}
        <li class="page-item active"><a class="page-link">{{ page }}</a></li>
        {% else %}
        <li class="page-item"><a class="page-link" href="{{ url_for('main.home', current_page=page) }}">{{ page }}</a></li>
        {% endif %} {% endfor %}
    </ul>
</nav>
{% endblock %}

{% block footer %} {% include 'includes/_footer.html' %} {% endblock %}
