{% extends 'layout.html' %}
{% block nav %} {% include 'includes/_navbar.html' %} {% endblock %}
{% block content %}

<section class="pt-5">
    <!--Banner Image And Text-->
    <div class="banner-img-container">
        <img src="{{ url_for('static', filename='img/recipes.jpg') }}" class="img-fluid" alt="Recipe">
        <div class="banner-img-overlay">
            <h1 class="banner-img-title heading-primary text-white">Recipes</h1>   
        </div>
    </div>
    
    <div class="row u-center-text u-margin-bottom-large u-padding-top">
        <div class="col-12 pt-5">
            <h2 class="heading-secondary pt-5">Search Our Recipes</h2>
        </div>

        <div class="col-12 pt-3">
            <!--Search Bar-->
            <form action="{{ url_for('recipes.search', search_query=search_query, current_page=current_page) }}" class="search pt-5">
                <input type="text" class="search__input" id="search_query" name="search_query" placeholder="Search recipes">
                <button class="search__button">
                    <i class="fas fa-search search__icon"></i>
                </button>
            </form>
        </div>  
    </div>
    <!--Recipe Cards-->
    <div class="row u-margin-bottom-large">
        {% for recipe in recipes %}
            {% include "includes/_cards.html" %}
        {% endfor %}
    </div>
    <!--Pagination-->
    <nav aria-label="pagination">
        <ul class="pagination pagination-lg justify-content-center">
            {% for page_number in pages %} {% if page_number == current_page %}
            <li class="page-item active"><a class="page-link">{{ page_number }}</a></li>
            {% else %}
            <li class="page-item"><a class="page-link" href="{{ url_for('recipes.all_recipes', current_page=page_number) }}">{{ page_number }}</a></li>
            {% endif %} {% endfor %}
        </ul>
    </nav>
</section>


{% endblock %}

{% block footer %} {% include 'includes/_footer.html' %} {% endblock %}