{% extends 'layout.html' %} {% block nav %} {% include 'includes/_navbar.html' %} {% endblock %} {% block content %}
<div class="container px-0 recipe_container">
    <div class="row align-items-start py-5">
        <div class="col-md-6 text-center">
            <h1 class="heading-primary">{{ recipe.recipe_name }}</h1>
            <p class="paragraph px-3">{{ recipe.description }}</p>

            <div class="row pt-5">
                <div class="col-6">
                    <i class="fas fa-utensil-spoon recipe_icon"></i>
                    <h4>Meal Type</h4>
                    <p class="paragraph">{{ recipe.meal_type }}</p>
                </div>
                <div class="col-6">
                    <i class="fas fa-check-circle recipe_icon"></i>
                    <h4>Diet Type</h4>
                    <!--If recipe diet type exists in DB-->
                    {% if recipe.diet_type %}
                    <p class="paragraph">{{ recipe.diet_type }}</p>
                    {% else %}
                    <!--Else display text so field is not blank-->
                    <p class="paragraph">None Specified</p>
                    {% endif %}
                </div>
            </div>

            <div class="row pt-3">
                <div class="col-6">
                    <i class="fas fa-stopwatch recipe_icon"></i>
                    <h4>Prep Time</h4>
                    <p class="paragraph">{{ recipe.prep_time }} Min</p>
                </div>
                <div class="col-6">
                    <i class="fas fa-hourglass-start recipe_icon"></i>
                    <h4>Cooking Time</h4>
                    <p class="paragraph">{{ recipe.time }} Min</p>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <!--If recipe image exists in DB-->
            {% if recipe.image %}
            <img class="img-fluid" src="{{ recipe.image }}" alt="recipe image">
            {% else %}
            <!--Else display placeholder recipe image-->
            <img src="{{ url_for('static', filename='img/recipe-placeholder.jpg') }}" class="img-fluid" alt="Recipe" lazyload="on">
            {% endif %}
        </div>
    </div>

    {% if 'logged_in' in session %} {% if user['_id'] == recipe['author'] %}
    <div class="row m-auto">
        <div class="col-6 m-auto">
            <a href="{{ url_for('recipes.edit_recipe', recipe_id=recipe._id) }}" class="btn btn-edit" role="button">Edit Recipe</a>  
        </div>
        <div class="col-6 m-auto">
            <a href="{{ url_for('recipes.delete_recipe', recipe_id=recipe._id) }}" class="btn btn-delete" role="button">Delete Recipe</a> 
        </div>
    </div>
    {% endif %} {% endif %}

    

    <div class="row py-5">
        <div class="col-sm-12 col-md-6 pb-5 text-center">
            <h2 class="heading-primary">Ingredients</h2>
            <ul class="recipe_list recipe-ul-list px-3">
                {% for ing in recipe.ingredient_name %}
                <li>
                    {{ ing }}
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-sm-12 col-md-6 text-center">
            <h2 class="heading-primary">Directions</h2>
            <ol class="recipe_list px-5">
                {% for dir in recipe.directions %}
                <li>
                    {{ dir }}
                </li>
                {% endfor %}
            </ol>
        </div>
    </div>

    
</div>



{% endblock %} {% block footer %} {% include 'includes/_footer.html' %} {% endblock %}