{% extends 'layout.html' %} 
{% block nav %} {% include 'includes/_navbar.html' %} {% endblock %}
{% block content %}

<!--404 Error-->
<header class="error-container">
	<div class="text-box">
		<h1 class="heading-primary">
			<span class="heading-error-main">404 Error</span>
			<span class="heading-error-sub">Page Not Found</span>
		</h1>
		<a href="{{ url_for('main.home')}}" class="btn btn-primary m-auto">Back to homepage</a>
	</div>	
</header>

{% endblock %}

{% block footer %} {% include 'includes/_footer.html' %} {% endblock %}