{% extends 'layout.html' %}
{% block body %} 
<section id="register">
    <div class="form-container">
        <div class="form-inner">
            <h1 class="heading-primary">Register</h1>
            <form method="POST" action="" class="form-width">
                    {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
                <p class="flashMessage">{{ message }}</p>
                    {% endfor %} {% endif %} {% endwith %}
                <div class="form-input">
                    {{ form.hidden_tag() }} {{ form.username(autofocus=true, class="form-input-field", required=true, placeholder="New username") }}
                </div>
                <div class="form-input">
                    {{ form.password(required=true, class="form-input-field", placeholder="Enter password") }}
                </div>
                <div class="pb-4 text-white">Already registered? Click <a href="{{ url_for('login') }}" class="text-white">here.</a></div>
                <button class="btn btn-white btn-block" type="submit" name="action">Submit</button>
            </form>
        </div>
    </div>
</section>
{% endblock %}