@import url('https://fonts.googleapis.com/css?family=Cabin|Roboto+Condensed&display=swap');

/*CSS Variables*/

:root {
  --primary-color: #57BA98;
  --primary-color-light: #65CCB8;
  --primary-color-dark: #3B945E;
  --secondary-color-light: #ffb900;
  --secondary-color-dark:#ff0000;
  --grey-color-light-1: #f7f7f7;
  --grey-color-dark-1: #777;
  --grey-color-dark-2: #999;
  --grey-color-dark-3: #333;
  --white-color: #fff;
  --primaryfont: 'Roboto Condensed', sans-serif;
  --secondaryfont: 'Cabin', sans-serif;
}

/*Root Element Styles*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


/*
1em = 16px

Media Queries are cdeclared in em
56.25em = 900px
75em = 1200px
112.5em = 1800px
*/


/**Makes default font-size 10px**/
html {
  font-size: 62.5%;
  overflow-x: hidden;
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%; } 
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%; } 
}
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%; } 
}

body {
  background-color: var(--grey-color-light-1);
  color: var(--grey-color-dark-1);
  font-family: var(--primaryfont);
  font-weight: 400;
  line-height: 1.7;
  overflow-x: hidden;
}
/**When user highlights text, the bg is the primary color and the text is white**/
::selection {
  background-color: var(--primary-color);
  color: var(--white-color);
}


/*Headings*/
.heading-primary {
  color: var(--primary-color);
  margin-bottom: 3rem;
  text-transform: uppercase;
}
/**Used on homepage header**/
.heading-primary-main {
  color: var(--grey-color-light-1);
  display: block;
  font-size: 6rem;
  font-weight: 500;
  letter-spacing: 1.25rem;
  margin-left:.25rem;
}
/**Used on homepage header**/
.heading-primary-sub {
  color: var(--grey-color-light-1);
  display: block;
  font-size: 2.25rem;
  font-weight: 500;
  letter-spacing: 1.45rem;
}

@media only screen and (max-width: 37.5em) {
  .heading-primary-main {
    letter-spacing: 1rem;
    font-size: 5rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .heading-primary-sub {
    letter-spacing: .5rem;
  }
}

.heading-secondary {
  background-image: linear-gradient(to right, var(--primary-color-light), var(--primary-color-dark));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 3.5rem;
  font-weight: 700;
  text-transform: uppercase;
}

@media only screen and (max-width: 56.25em) {
  .heading-secondary {
    font-size: 3rem; 
  } 
}
@media only screen and (max-width: 37.5em) {
  .heading-secondary {
    font-size: 2.5rem; 
  } 
}

.heading-tertiary {
  color: var(--secondary-color);
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;
}

/**Used on error pages**/
.heading-error-main {
  color: var(--grey-color-dark-3);
  display: block;
  font-size: 6rem;
  font-weight: 500;
  letter-spacing: 1.25rem;
  margin-left:.25rem;
}
/**Used on error pages**/
.heading-error-sub {
  color: var(--grey-color-dark-3);
  display: block;
  font-size: 2.25rem;
  font-weight: 500;
  letter-spacing: 1.45rem;
}

/*Utility Classes*/

.u-center-text {
  text-align: center;
}

.u-margin-bottom-large {
  margin-bottom: 8rem;
}
@media only screen and (max-width: 56.25em) {
  .u-margin-bottom-large {
    margin-bottom: 5rem !important; } 
}

.u-margin-bottom-medium {
  margin-bottom: 4rem;
}
@media only screen and (max-width: 56.25em) {
  .u-margin-bottom-medium {
    margin-bottom: 3rem !important;
  }
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}

.u-padding-bottom-small {
  padding-bottom: 3rem;
}

.u-padding-top {
  padding-top: 2rem;
}

.u-padding-top-lg {
  padding-top: 5rem;
}
/***Navbar**/
/**Navbar background color**/
#navbar__whisk {
  background-color: var(--grey-color-dark-3);
}

/**Changes navbar toggler background to circle**/
.navbar-toggler {
background-color: var(--grey-color-light-1);
border-radius: 50%;
height: 3.5rem;
width: 3.5rem;
}
/**Sets navbar hover animation**/
.navbar-light .navbar-nav .nav-link:link,
.navbar-light .navbar-nav .nav-link:visited {
background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #f7f7f7 50%);
background-size: 230%;
color: var(--grey-color-light-1);
display: inline-block;
font-size: 2rem;
font-weight: 300;
padding: 1rem 2.75rem;
text-decoration: none;
text-transform: uppercase;
transition: all .4s;
}


/**Navbar link items animation on hover**/
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:active {
background-position: 100%;
color: var(--grey-color-dark-3);
transform: translateX(.5rem);
}


/**Navbar icons display and margin**/
.nav-link span {
display: inline-block;
margin-right: 1rem;
}

/***Homepage Header**/
.header {
  background-image: linear-gradient(to right bottom, rgba(70, 52, 78, 0.8), rgba(90, 85, 96, 0.8));
  height: 85vh;
}

.bg-video {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: .50;
  overflow: hidden;
}

.bg-video__content {
  width:100%;
  height: 100%;
  object-fit: cover;
} 

/**Centers the text box horizontally**/

.text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

/**Buttons**/

.btn {
  border-radius: 10rem;
  display: inline-block;
  font-size: 1.5rem;
  padding: 1.5rem 4rem;
  text-decoration: none;
  text-transform: uppercase;
}

/**Gives slight box-shadow on hover**/
.btn:hover {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn-white {
  background-color: var(--white-color);
  color: var(--grey-color-dark-3);
}

.btn-primary {
  background-color: var(--primary-color);
  border: var(--primary-color);
  color: var(--white-color);
}

.btn-primary:hover {
  background-color: var(--primary-color);
  color: var(--white-color);
}
/**Rectangular edit button**/
.btn-edit {
  background-color: var(--primary-color);
  color: var(--white-color);
  border-radius: 0;
  width: 100%;
}

.btn-edit:hover {
  color: var(--white-color);
}
/**Rectangular delete button**/
.btn-delete {
  background-color: var(--secondary-color-dark);
  color: var(--white-color);
  border-radius: 0;
  width: 100%;
}

.btn-delete:hover {
  color: var(--white-color);
}
/**Flash Message**/
.flash-message {
  font-size: 1.5rem;
}
/**Pagination**/
/**Increases default Bootstrap pagination size**/
.pagination-lg .page-link {
  padding: .75rem 1.5rem;
  font-size: 1.75rem;
  line-height: 1.5;
}
/**FSet pagination btn bg and border color to primary color**/
.page-item.active .page-link { 
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.page-item .page-link { 
  color: var(--primary-color);
}
/**Forms**/
.close-icon {
  position: fixed;
  top: 0.3em;
  right: 0.5em;
  font-size: 3.5rem;
  color: var(--white-color);
}
/**Gives padding to login, register and change password forms. 
Gives gradient background color
**/
.section-reglog {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, var(--primary-color-light), var(--primary-color-dark));
  height: 100vh;
}

@media only screen and (max-width: 56.25em) {
  .section-reglog {
    padding: 10rem 0;
  }
}
/**Sets the form background image, white semi transparent background
Completely transparent at 50% of width at 105degree angle.
**/
.reglog {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(../img/login.jpg);
  background-size: 100%;
  border-radius: 3px;
  width: 75%;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 75em) {
  .reglog {
    background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 65%, transparent 65%), url(../img/login.jpg);
    background-size: cover;
  }
}

@media only screen and (max-width: 56.25em) {
  .reglog {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 100%), url(../img/login.jpg);
  }
}
/**Sets form to take up 50% of container by default**/
.reglog__form {
  width: 50%;
  padding: 6rem;
}
@media only screen and (max-width: 75em) {
  .reglog__form {
    width: 65%;
  }
}
  
@media only screen and (max-width: 56.25em) {
  .reglog__form {
    width: 100%;
  }
}
/**Sets registration/login/change password form input**/
.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rbga(#fff, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  width: 90%;
  display: block;
  transition: all .3s; 
}
@media only screen and (max-width: 56.25em) {
  .form__input {
    width: 100%;
  }
}
/**Bottom border when registration/login form input in focus**/
.form__input:focus {
  outline: none;
  border-bottom: 5px solid var(--primary-color);
  box-shadow: 0.1rem 1rem rgba(0, 0, 0, 0.1);
}
/**Bottom border when registration/login form is invalid and in focus**/
.form__input:focus:invalid {
  border-bottom: 3px solid var(--secondary-color-dark);
}
/**Sets recipe form input**/
.recipe-form-input {
  font-family: inherit;
  font-size: 2.5rem;
  margin-top: 2rem;
  width: 100%;
}
/**Bottom border recipe input in focus**/
.recipe-form-input:focus {
  outline: none;
  border-bottom: 5px solid var(--white-color);
  box-shadow: 0.1rem 1rem rgba(0, 0, 0, 0.1);
}
/**Bottom border recipe input in focus**/
.recipe-form-input:focus:invalid {
  border-bottom: 3px solid var(--secondary-color-dark);
}
/**Bottom border recipe input in focus**/
.search {
  display: flex;
  align-items: center;
  justify-content: center;
}

/**Search Bar Style**/
.search__input {
  font-family: inherit;
  font-size: 1.5rem;
  color: inherit;
  background-color: var(--grey-color-light-1);
  border: 2px solid var(--primary-color);
  padding: .7rem 2rem;
  border-radius: 100px;
  width: 50%;
  transition: all .2s;
  margin-right: -3.25rem; 
}

@media only screen and (max-width: 31.25em) {
  .search__input {
    width: 90%;
  }
}
.search__button {
  border: none;
  background-color: var(--grey-color-light-1);
}
.search__button:focus {
  outline: none; 
}
.search__button:active {
  transform: translateY(2px); 
}
.search__icon {
  font-size: 2rem;
}
/**Account Page**/
.user_account {
  padding: 20rem 0;
}
/**Account Sidebar**/
.account_sidebar {
  padding: 2rem 0 0 0;
  background: var(--white-color);
  text-align: center;
}

.account_avatar {
  display: inline-block;
}

.account_username {
  margin-top: 2rem;
}
/**Account Content**/
.account_content {
  padding: 2rem;
  background: var(--white-color);
  min-height: 46rem;
}
/**Add Recipe**/
.recipe-form {
  background-image: linear-gradient(to right bottom, var(--primary-color-light), var(--primary-color-dark));
}
/**Recipe Form Labels**/
label {
  color: var(--white-color);
  font-family: var(--secondaryfont);
  font-size: 1.5rem;
  margin-bottom: 0;
}
/**Single Recipe**/
.recipe_container {
  padding-top: 10rem;
}
/**Icon sizing**/
.recipe_icon {
  font-size: 2.5rem;
}

.paragraph {
  color: inherit;
  font-size: 2rem;
  font-family:var(--secondaryfont);
}
/**Recipe Card**/
.card {
  border: none;
}

.card_recipe {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  color: #fff;
  font-family: var(--primaryfont);
  line-height: 1.8em;
  overflow: hidden;
  position: relative;
  width: 100%;
}
/**Sets card link position**/
.card_recipe a {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
/**Sets recipe title styles**/
.card_title {
  bottom: 0;
  color: var(--grey-color-light-1);
  font-size:2rem;
  font-weight: 800;
  margin-bottom: 1rem;
  position: absolute;
  z-index: 1;
  background-color: var(--grey-color-dark-3);
  padding: .5rem;
  cursor: pointer;
}
/**Single Recipe Page**/
.recipe_list {
  font-size: 2rem;
}

.recipe-ul-list {
  list-style-type: none;
}
/**Error 403, 404, 500 pages**/
.error-container {
  background-image: url(../img/errors/error.png);
  background-position: center center;
  background-size: cover;
  height: 95vh; 
}
/**Footer**/
/**Centering footer items, and giving footer minimum height**/
.footer {
  background-color: var(--grey-color-dark-3);
  display: flex;
  justify-content: center;
  min-height: 10rem;
}
/**Setting footer items color, size and top padding**/
.footer-icon a i {
  color: var(--grey-color-light-1);
  font-size: 4rem;
  padding-top: 3rem;
}